* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color3);
}
html {
  scroll-behavior: smooth;
}
.up {
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-decoration: none;
  background-color: var(--main-color3);
  color: white;
  padding: 5px 15px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  font-weight: bold;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
:root {
  --main-color: rgb(247, 247, 247);
  --main-color2: rgb(26, 26, 26);
  --main-color3: rgb(3, 97, 89);
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Cairo", sans-serif;
}
::selection {
  background-color: var(--main-color3);
  color: white;
}
header {
  background-color: black;
  color: white;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
header li a {
  color: white;
  text-decoration: none;
}
@media (max-width: 300px) {
  header {
    font-size: 0.7rem;
  }
}
.sec1 {
  height: calc(100vh - 45px);
  background-size: cover;
  background-image: url(../image/landing.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}
.sec1 .links,
footer .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.sec1 .links a {
  color: black;
  text-decoration: none;
}
footer .links a {
  text-decoration: none;
  color: white;
}
/* ====================== */
.sec2 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.sec2 .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sec2 .container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .sec2 .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.parent {
  width: 100%;
  background-color: #eee;
  margin-top: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.child {
  padding: 10px;
  background-color: var(--main-color3);
  color: white;
  text-align: right;
  position: relative;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.child span {
  position: absolute;
  left: 10px;
}
/* ================== */
.sec3 {
  margin-top: 100px;
  /* margin-bottom: 100px; */
  background-color: var(--main-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.sec3 > h2 {
  text-align: center;
  margin-bottom: 50px;
}
.sec3 .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.sec3 .container div {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px 0 #eee;
  text-align: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.sec3 svg {
  font-size: 25px;
}
.sec3 .container div:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  box-shadow: 0 0 10px 0 var(--main-color3);
}
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 15px;
}
